.header{
    width: auto;
    height: 100px;
    background: #0E0E1B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in{
    width: 263px;
    height: 73px;
    display: flex;
    align-items: center;
    gap:20px
}
.in>p{
    font-family: Barlow;
    font-weight: 500;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
    color: #036FDB;

}